.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    margin: 20px 0;
  }
  
  .loader::after {
    content: 'Loading...';
    font-size: 20px;
    color: #007bff; 
  }
  
  @media screen and (max-width: 600px) {
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0px;
    padding: 0px;
    
  }
}

 